p {
  padding: 8px;
  color: rgb(220, 22, 108);
  font-style: italic;
  font-size: 20px;

}

.main_div {
  margin: 10px;
  padding: auto;
  background-color: beige;
  border-radius: 5px;
}

.panel_title{
  font-size: 20px;
  text-align: center;
  }

  .mat_panel{
    margin: 10px;
    background-color:lightskyblue;
   
  }