p {
  margin: 10px;
  border-radius: 6px;
  text-align: center;
  color: rgb(17, 97, 201);
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(20, 203, 56);
}

.rxjs-container{
  display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}